body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: black;
  color:white;
}

/* NAVBAR AND LINKS */

.navbar-brand{
  font-size: 50px;
}


.navbar{
  height: 100px;
 background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,16,16,1) 35%, rgba(0,212,255,1) 100%);
}


.navbar-nav .nav-link{
cursor: pointer;
font-size: 20px;
font-family: 'Syne Mono', monospace;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left:20px;
  padding-top: 10px;
  color:white;
  margin-inline-start: auto;
}

/* //ABOUT ME */


.center{
  text-align: center;
  margin:30px auto 30px;
}
.info-about{
  display: inline-flex;

}

.profile-image{
  padding:50px 50px 50px 50px;
  width:100%;
}


.icon-card{
  color:white;
}

.icon-card:hover{
  color:rgb(171, 171, 171);
}

.img-fluid{
  transition: transform .2s;
}

.img-fluid:hover{
  transform: scale(1.5)
}

.card{
  background-color: black;
}

.row{
  margin:20px 0 20px;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0 100px 0 100px;
}

.p{
  height: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 200px;
}
 

/* CONTACT FORM */

.contact-form{
 display:flex;
 justify-content: center;
 align-items: center;
  text-align: -webkit-center;
  margin-top: 40px;
  padding-left: 30px;
  text-align: center;
}
.input-form{
  display:table-caption;
  flex-wrap: wrap;
  padding:10px 0 10px;
  
}
.username{
  border-radius: 15px 15px 0 0;
  margin-top:20px;
  height: 40px;
  border:solid gray 1px;
}
.email{
  height: 40px;
}
.message{
  border-radius:0 0 15 15px;
  border:solid gray 1px;
}

/* FOOTER AND ICONS/CONTACT-INFO */



.icons-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
  padding-bottom: 30px;
  text-align: center;
}

.icon{
  color:white;
}
.icon:hover{
  color:rgb(175, 175, 175);
}

footer{
  color:rgb(171, 171, 171);
  margin-top: 20px;
}

.icon-terminal{
  color:greenyellow;
}

@media screen and (max-width:980px){
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-inline-start: auto;
  }
.navbar-expand-lg .navbar-nav .nav-link {
    margin-inline-start: auto;
    font-size: smaller;
    position: relative;
}

}

@media screen and (max-width:768px) {
  .cover-image{
    display: none;
  }
  #contact-form{
   display:-ms-inline-grid;
  }
  .navbar{
    width:100%;
  }
  .card {
    position: sticky;
    z-index: -1;
}

  .navbar-brand{
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  .nav-link{
    line-height:7px;
  }
  .navbar-toggler{
    margin-left: 10px;
  }

  #aboutImg{
    display: none;
  }
}
