body {
  margin: 0;
  font-family: 'Syne Mono', monospace;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: black;
  color:white;
}

/* NAVBAR AND LINKS */

.navbar-brand{
  font-size: 50px;
}


.navbar{
  height: 100px;
 background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(178,16,16,1) 35%, rgba(0,212,255,1) 100%);
}


.navbar-nav .nav-link{
cursor: pointer;
font-size: 20px;
font-family: 'Syne Mono', monospace;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left:50px;
}


.center{
 text-align: center;
}



/* CONTACT FORM */

.contact-form{
  text-align: -webkit-center;
  
}
.username{
  border-radius: 15px 15px 0 0;
  margin-top:20px;
  height: 40px;
  border:solid gray 1px;
}
.email{
  height: 40px;
}
.message{
  border-radius:0 0 15px 15px;
  border:solid gray 1px;
}

/* FOOTER AND ICONS  */

.icons-bottom{
  display: flex;
  justify-content: center;
  gap:40px;
}

.icon{
  color:white;
}
.icon:hover{
  color:rgb(175, 175, 175);
}

footer{
  display: flex;
  justify-content: center;
  bottom:0;
  color:rgb(157, 156, 156);
  height: 2.5rem;
  margin:40px auto 20px;
}


.icon-terminal{
  color:greenyellow;
}